* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html,
input,
button {
	font-family: 'Roboto', sans-serif;
}

.background {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../images/bgr_bacsi.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.background .container {
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 45%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .2);
	box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
}

.background .container .title {
	font-size: 30px;
	width: 100%;
	height: 20%;
	text-align: center;
	color: white;
}

.background .container form {
	width: 100%;
	height: 60%;
}

.background .container form .nameandpass {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70%;
	justify-content: center;
	align-items: center;
}

.background .container form .nameandpass .username {
	display: flex;
	width: 100%;
	height: 45%;
	justify-content: center;
}

.background .container form .nameandpass .username input {
	width: 80%;
	height: 80%;
	margin-bottom: 15px;
	padding-left: 15px;
	color: white;
	border: none;
	border-left: 1px solid #19d7f8;
	outline: none;
	background-color: rgba(0, 0, 0, .2);
}

.background .container form .nameandpass .username input::-moz-placeholder {
	color: white;
}

.background .container form .nameandpass .username input:-ms-input-placeholder {
	color: white;
}

.background .container form .nameandpass .username input::placeholder {
	color: white;
}

.background .container form .nameandpass .username i {
	display: flex;
	width: 10%;
	height: 80%;
	color: white;
	background-color: #19d7f8;
	align-items: center;
	justify-content: center;
}

.background .container form .nameandpass .password {
	display: flex;
	width: 100%;
	height: 45%;
	justify-content: center;
}

.background .container form .nameandpass .password input {
	width: 80%;
	height: 80%;
	padding-left: 15px;
	color: white;
	border: none;
	border-left: 1px solid #19d7f8;
	outline: none;
	background-color: rgba(0, 0, 0, .2);
}

.background .container form .nameandpass .password input::-moz-placeholder {
	color: white;
}

.background .container form .nameandpass .password input:-ms-input-placeholder {
	color: white;
}

.background .container form .nameandpass .password input::placeholder {
	color: white;
}

.background .container form .nameandpass .password i {
	display: flex;
	width: 10%;
	height: 80%;
	color: white;
	background-color: #19d7f8;
	align-items: center;
	justify-content: center;
}

.background .container form .btn {
	display: flex;
	width: 100%;
	height: 30%;
	align-items: center;
	justify-content: center;
}

.background .container form .btn .dangnhap {
	font-weight: bold;
	width: 40%;
	height: 80%;
	cursor: pointer;
	color: white;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, .2);
}

.background .container form .btn .dangnhap:hover {
	color: black;
	border: 1px solid black;
	background-color: white;
}

.background .container .bottom {
	display: flex;
	width: 100%;
	height: 20%;
	text-align: center;
	color: white;
	align-items: center;
	justify-content: center;
}

.background .container .bottom p a {
	margin-left: 10px;
	text-decoration: none;
	color: white;
}

.blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
}

