<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" th:href="@{/css/DangNhap.css}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="container">
            <p class="title">Đăng Nhập</p>
            <form method="post" th:action="@{/login}" >
                <div class="nameandpass">
                    <div class="username">
                        <input type="text" placeholder="Username" autofocus required name="username">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="password">
                        <input type="text" placeholder="Password" required name="password">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <div class="btn">
                    <button type="submit" class="dangnhap">Đăng Nhập</button>
                </div>
            </form>
            <div class="bottom">
                <p>Chưa có tài khoản?
                    <a th:href="@{/register}">Click để đăng kí!</a>
                </p>
            </div>
        </div>
    </div>
    <div class="blur"></div>
</body>
</html>