<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bác Sĩ</title>
  <link rel="stylesheet" th:href="@{/css/Home_BacSi.css}" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<div class="background">

  <div class="search">
    <input type="text" placeholder="Tìm Kiếm" />
    <button><i class="fas fa-search"></i>Tìm</button>
  </div>

  <div class="khoa_add">
    <button><a th:href="@{/showFormForAdd}">Thêm Bác Sĩ</a> </button>
    <a th:href="@{/allkhoa}"><i class="fas fa-arrow-right"></i>Quản Lí Khoa</a>
  </div>

  <h3>Thông Tin Bác Sĩ</h3>
  <table>
    <thead>
    <th>Mã bác sĩ</th>
    <th>Tên bác sĩ</th>
    <th>Tuổi</th>
    <th>Email</th>
    <th>Số điện thoại</th>
    <th>Tên Khoa</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr th:each="temp : ${listVO}">
      <td th:text="${temp.doctor.id}" />
      <td th:text="${temp.doctor.nameDoctor}" />
      <td th:text="${temp.doctor.age}" />
      <td th:text="${temp.doctor.email}" />
      <td th:text="${temp.doctor.phone}" />
      <td th:text="${temp.department.departmentName}" />
      <td>
        <button class="update">
          <a th:href="@{/showFormForUpdate(doctorId=${temp.doctor.id})}">Sửa</a>
        </button>
        <button class="delete">
          <a th:href="@{/delete(doctorId=${temp.doctor.id})}"
             onclick="if (!(confirm('Bạn có chắc chắn xóa Bác Sĩ này không?'))) return false">
            Xóa</a>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="blur"></div>
</body>
</html>
