<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" th:href="@{/css/DangNhap.css}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="container">
            <p class="title">Đăng Nhập</p>
            <div class="nameandpass">
                <div class="username">
                    <input type="text" placeholder="Username">
                    <i class="fas fa-user"></i>
                </div>
                <div class="password">
                    <input type="text" placeholder="Password">
                    <i class="fas fa-lock"></i>
                </div>
            </div>
            <div class="btn">
                <button class="dangki">Đăng Kí</button>
                <button class="dangnhap">Đăng Nhập</button>
            </div>
        </div>
    </div>
    <div class="blur"></div>
</body>
</html>